body{
  padding-top:50px;
	&.sub-page{
		.jumbotron{
			display: none;
		}
	}
}

.navbar-brand{
	height: 51px;
	width: 51px;
	background-image: url('/imgs/crest.png');
	background-image: none, url('/imgs/hsg.svg'), url('/imgs/crest@2x.png');
	background-repeat: none;
	background-size: contain;
	margin-right: 10px;
	span{
		display:none;
	}
}

.navbar{
	border:0px;
}

.events-block{
  ul, li{
    list-style: none;
    margin:0px;
    padding:0px;
  }
  ul{
    padding:5px 3px;
  }
  h4{
    margin-bottom:2px;
  }
}
