{{> header }}

<h2>Upcoming Events</h2>

{{#events}}
<p>
{{#URL}}
<strong><a href="{{URL}}">{{Name}}</a></strong>
{{/URL}}
{{^URL}}
<strong>{{Name}}</strong>
{{/URL}}
<time dateTime="{{#datetime}}{{When}}{{/datetime}}"
 title="{{#datetime}}{{When}}{{/datetime}}">{{#datetime}}{{When}}{{/datetime}}</time>
</p>
{{/events}}

<h2>Tweets</h2>

<div>
<iframe src="/tweets.html" scrolling="no" frameborder="0" allowtransparency="true" width="520" height="600" style="border: none; max-width: 100%; min-width: 180px;"></iframe>
</div>

{{> footer }}
