  </div>
</div>

<footer id="footer" class="container-fluid">
  <div class="container">
    <div class="row">
      {{#footer}}<div class="col-md-4">
        <ul>
          <li class="title"><b>{{title}}</b></li>
          {{#items}}<li>
            <a href="{{{href}}}">{{label}}</a>
          </li>{{/items}}
        </ul>
      </div>{{/footer}}
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="text-center">Copyright © 2009–<script>document.write(new Date().getFullYear())</script> Hackerspace.SG Pte Ltd and contributors.</p>
      </div>
    </div>
  </div>
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/moment.min.js"></script>

<script>
$(document).ready(function() {
  $('time').each(function(index){
    d = moment($(this).attr('datetime'));
    $(this).text(d.fromNow() + ' at ' + d.format('h:mma'));
  });
});
</script>

</body>
</html>
