<footer>
<p>Source: <a href=https://github.com/hackerspacesg/hackerspace.sg>On Github</a></p>
</footer>

</div>

<script src="/js/davis.min.js"></script>
<script>
  var app, domcontent;
  $(document).ready(function(){
    app = Davis(function () {
		this.get('/', function (req) {
			$('div.container').load("/ div.container");
			return false;
		})
		this.get('/:path', function (req) {
			$('div.container').load("/"+req.params['path']+" div.container");
			return false;
		})
    })
    app.start();
  });
</script>

<script>
window.scrollback = {
streams:["hackerspacesg"],
theme: 'light',
ticker: true,
};

/***** don't edit below *****/
(function(d,s,h,e){e=d.createElement(s);e.async=1;
e.src=h+'/client.min.js';scrollback.host=h;
d.getElementsByTagName(s)[0].parentNode.appendChild(e);}
(document,'script',location.protocol+'//scrollback.io'));
</script>

</body>
</html>
