  </div>
</div>

<footer>
<p>Source: <a href=https://github.com/hackerspacesg/hackerspace.sg>On GitHub</a></p>
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/moment.min.js"></script>

<script>
$(document).ready(function() {
  $('time').each(function(index){
    d = moment($(this).attr('datetime'));
    $(this).text(d.fromNow() + ' at ' + d.format('h:mma'));
  });
});
</script>

</body>
</html>
