<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<title>{{{site-title}}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" type="text/css" media="screen" href="/css/cosmo.css">
	<link rel="stylesheet" type="text/css" media="screen" href="/css/styles.css">
</head>

<body>

{{> navbar }}

<div class="jumbotron">
  <div class="highlight">
    <img alt="Welcome to Hackerspace Singapore" class=banner src="/imgs/banner.png">
  </div>
</div>

<div class="content-wrapper">
  <div class="container">

