{{> header }}

{{{announce}}}

<div class="row">
  <div class="col-md-6 events-block">
    <h2>Upcoming Events</h2>
    <ul>
      {{#events}}
        <li>
          {{#URL}}<h4><a href="{{URL}}">{{Name}}</a></h4>{{/URL}}
          {{^URL}}<h4>{{Name}}</h4>{{/URL}}
          <time dateTime="{{When}}" title="{{When}}">{{When}}</time>
        </li>
      {{/events}}
    </ul>
  </div>
  <div class="col-md-6">
    <a class="twitter-timeline" href="https://twitter.com/hackerspacesg" data-widget-id="415082410074599425">Tweets by @hackerspacesg</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
</div>
<img src="/imgs/index.jpg" class="img-responsive center-block" style="width:50%" >


{{> footer }}
