<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<title>{{{site-title}}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" type="text/css" media="screen" href="/css/cosmo.css">
</head>

<body>

<div class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        {{#navbar}}
        <li><a href="{{{href}}}">{{label}}</a>
        {{/navbar}}
      </ul>
    </div>
</div>
</div>


<div class="jumbotron">

  <div class="highlight">
    <img alt="Welcome to Hackerspace Singapore" class=banner src="/imgs/banner.png">
  </div>

</div>

<div class="container">

<h2>Upcoming Events</h2>

{{#events}}
<p><strong>{{Name}}</strong>
<time>{{When}}</time></p>
{{/events}}

<h2>Tweets</h2>

<ul>
{{{tweets}}}
</ul>

{{> footer }}
