{{> header }}

<div class="jumbotron">

  <div class="highlight">
    <h1>Welcome to Hackerspace SG!</h1>
    <p class="lead"><strong>Singapore's first kiasu-free zone :)</strong></p>
    <img class=banner src="/imgs/banner.png">
  </div>

</div>

<div class="container">

  <div class="row">
    <div class="col-lg-8">
      <h2>Upcoming Events!</h2>

{{#events}}
<p><strong>{{Name}}</strong>
<time>{{When}}</time></p>
{{/events}}

    </div>
    <div class="col-lg-4">
      <h2>Drop by!</h2>
      <div class="bsa well">

        <p><a href="/location">Location</a>: 344B King George’s Avenue, Singapore, 208576</p>
        <p>IRC: #hackerspacesg on freenode.net</p>
        <p>Facebook:</p>
        <p>Twitter: @hackerspacesg</p>

        <h2>Live Webcam</h2>
        <p class="livecam"></p>
      </div>


    </div>
  </div>









  {{> footer }}
</div>
