<div class="post clearfix">

                                            <h2 class="hd-page">Membership</h2>
            
                    <p><iframe src="http://www.youtube.com/embed/9CfnkbwHsmU" height="315" width="420" frameborder="0"></iframe></p>
<h2><span style="font-weight: normal; font-size: 13px;">Members get:</span></h2>
<p><span style="color: #000000;">Access to the shared library of books, gear, toys, and tools.</span></p>
<p><span style="color: #000000;">An email address @hackerspace.sg*</span></p>
<p><span style="color: #000000;">24 hour keypad code access to the facility.</span></p>
<p><span style="color: #000000;">A customizable business card identifying them as a member of the hackerspace.*</span></p>
<p><span style="color: #000000;">* Upon request</span></p>
<h2><span style="color: #000000;">Expenses</span></h2>
<p><span style="color: #000000;">The main operating expenses are:</span></p>
<ul>
<li><span style="color: #000000;">Rent = <del>$3800</del> $4000 (caa Nov 2011)</span></li>
<li><span style="color: #000000;">Utilities = $1000</span></li>
</ul>
<p>&nbsp;</p>
<p><span style="color: #000000;">The main capital expenses, to be amortized over a 1 year period, are:</span></p>
<ul>
<li><span style="color: #000000;">fridge</span></li>
<li><span style="color: #000000;">desks and chairs</span></li>
<li><span style="color: #000000;">keypad access security system</span></li>
<li><span style="color: #000000;">lockers</span></li>
<li><span style="color: #000000;">sofas</span></li>
<li><span style="color: #000000;">other furniture</span></li>
<li><span style="color: #000000;">insurance</span></li>
<li><span style="color: #000000;">corporate administrivia like filing fees</span></li>
<li><span style="color: #000000;">TOTAL ESTIMATED AMORTIZATION = $1000 per month</span></li>
</ul>
<p><span style="color: #000000;">Total monthly expense: $6,000</span></p>
<h2><span style="color: #000000;">Fees</span></h2>
<p><span style="color: #000000;">To fund operations, hackerspace.sg collects monthly membership dues.</span></p>
<p><span style="color: #000000;">We require an upfront payment of 2 months, 1 of which will be refunded upon departure (in full) or downgrade (pro rata).</span></p>
<p><span style="color: #000000;">We require that new members commit to 6 months of membership.</span></p>
<p><span style="color: #000000;">Membership fees are intended to cover operating expenses and fund capital improvements to the facility.</span></p>
<p><span style="color: #000000;">On 20090928 Meng proposed the following membership tiers.</span></p>
<table border="1">
<tbody>
<tr>
<th><span style="color: #000000;">Level</span></th>
<th><span style="color: #000000;">Monthly</span></th>
<th><span style="color: #000000;">Added Benefits</span></th>
</tr>
<tr>
<th><span style="color: #000000;">Resident</span></th>
<th><span style="color: #000000;">$512</span></th>
<td><span style="color: #000000;">A dedicated desk 7 days a week for </span><a href="http://hackerspace.sg/coworking/"><span style="color: #000000;">co-working</span></a><span style="color: #000000;">. You can keep your crap at the desk.</span></td>
</tr>
<tr>
<th><span style="color: #000000;">Hotdesk</span></th>
<th><span style="color: #000000;">$256</span></th>
<td><span style="color: #000000;">A non-dedicated desk should be available whenever you drop in (oversubscription may occur at peak hours, we aim for 90% availability). You cannot keep your crap at the desk.</span></td>
</tr>
<tr>
<th><span style="color: #000000;">Regular Member</span></th>
<th><span style="color: #000000;">$128</span></th>
<td><span style="color: #000000;">Hang out on the sofas. Keep your crap in a locker (rental rates applicable). Use the workbench. Keep your toys and tools onsite.</span></td>
</tr>
<tr>
<th><span style="color: #000000;">Youth Member</span></th>
<th><span style="color: #000000;">$64</span></th>
<td><span style="color: #000000;">If you’re a student or you’re broke, all the benefits of regular membership at a reduced rate.</span></td>
</tr>
<tr>
<th><del><span style="color: #000000;">Trial Member</span></del></th>
<th><del><span style="color: #000000;">$32</span></del></th>
<td><del><span style="color: #000000;">If you’re not sure if you want to commit, join as a trial member. No locker, no business card, no email address, no 24 hour access to the facility. But you do get to hang out, which is what matters.</span><span style="color: #000000;">After <span style="text-decoration: line-through;">6</span> 3 months if you want to stay on, upgrade.</span></del></td>
</tr>
<tr>
<th><span style="color: #000000;">Sponsor</span></th>
<th><span style="color: #000000;">&gt;=$1024</span></th>
<td><span style="color: #000000;">For wealthy individuals to show support for the hackerspace. Contact mengwong directly if you want your donation to be anonymous.</span></td>
</tr>
<tr>
<th><span style="color: #000000;">Guest</span></th>
<th><span style="color: #000000;">$0</span></th>
<td><span style="color: #000000;">For infrequent visitors or foreign travelers. Must be accompanied by a member.</span></td>
</tr>
</tbody>
</table>
<h2><span style="color: #000000;">Revenue Forecast</span></h2>
<p><span style="color: #000000;">Right now we forecast:<br>
5 Resident members @ $512 = $2560<br>
5 Hotdesk members @ $256 = $1280<br>
10 Regular members @ $128 = $1280<br>
5 Youth members @ $64 = $320<br>
total operating budget = $5440</span></p>
<p><span style="color: #000000;">We might take in between $200 and $1000 per month in venue rentals for meetups, parties, etc.</span></p>
<p><span style="color: #000000;">We also expect to take in about $100 a month profit from F&amp;B.</span></p>
<p><span style="color: #000000;">If more people sign up than we had expected, we may be able to adjust membership fees downward!</span></p>
<h2><span style="color: #000000;">I’m in, how do I sign up?</span></h2>
<p><span style="color: #000000;">If you can commit to 6 months of one of the above membership levels, and can pay for the first three months right now, pick up a membership from HackerspaceSG. Hang out at HackerspaceSG for a week, just so that we can know you better, and so that you are sure that your really want to be part of the community.</span></p>
<p>Complete the <a href="http://hackerspacesg.pbworks.com/w/page/56106951/Membership%20Form" target="_blank">form</a> and pass it to any member, who will ensure that the form is passed on to the Membership <a href="http://en.wikipedia.org/wiki/Bastard_Operator_From_Hell">BOFH</a>.</p>
<p><span style="color: #000000;">Then, transfer funds, by doing a direct bank transfer to the Hackerspace.sg Standard Chartered bank account:<br>
Bank code: 7144<br>
Branch code: 057<br>
Standard Chartered Account: 5701304090</span></p>
<p>The account name should be Hackerspacesg Pte. Ltd. and the bank code is scblsgsgxxx(which is the swift code). Once you have the right bank code the branch code of 057 should display.</p>
<p>Alternatively you can also use Paypal to enter a regular monthly subscription. Please note that fees levied by Paypal will be absorbed by you.</p>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post"><input type="hidden" name="cmd" value="_s-xclick"><br>
<input type="hidden" name="hosted_button_id" value="6YY74YT8UKT9E"><p></p>
<table>
<tbody>
<tr>
<td><input type="hidden" name="on0" value="HackerspaceSG monthly membership">HackerspaceSG monthly membership</td>
</tr>
<tr>
<td>
<select name="os0">
<option value="Regular">Regular : $133.72SGD – monthly</option>
<option value="Youth/Starving hacker">Youth/Starving hacker : $67.12SGD – monthly</option>
<option value="Hotdesker">Hotdesker : $266.91SGD – monthly</option>
<option value="Resident">Resident : $533.30SGD – monthly</option>
</select>
</td>
</tr>
</tbody>
</table>
<p><input type="hidden" name="currency_code" value="SGD"><br>
<input type="image" alt="PayPal — The safer, easier way to pay online." name="submit" src="https://www.paypalobjects.com/en_GB/SG/i/btn/btn_subscribeCC_LG.gif"><br>
<img alt="" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1" border="0"></p>
</form>
<p>&nbsp;</p>
<p>Other payment methods include cheque and giro and are detailed on our&nbsp;<strong><a href="http://hackerspacesg.pbworks.com/HowToPledge">Wiki Pledge Page</a></strong></p>
<p>After completing payment, please follow up with an email to&nbsp;<strong>membership [at] hackerspace [dot] sg</strong>&nbsp;with the subject “<strong>Hackerspace Pledge</strong>” with your&nbsp;<strong>name</strong>&nbsp;and&nbsp;<strong>transaction details</strong>&nbsp;immediately following a transfer, thanks.</p>
<p><span style="color: #000000;">We reserve the right to reject membership applications for any reason.</span></p>
<h2><span style="color: #000000;">Organizational Form</span></h2>
<p><span style="color: #000000;">We intend to operate like a non-profit, but will incorporate as an LLP or Pte Ltd for convenience.</span></p>
<p><span style="color: #000000;">All finances will be transparently disclosed to the membership.</span></p>
<p><span style="color: #000000;">We intend to operate with a small profit margin.</span></p>
<p><span style="color: #000000;">Any operating surplus will not be distributed to partners or members, but will be directed at activities approved by the hackerspace.sg board of directors. Current plans for any operating surplus include plans to half the membership fees and also to rent a bigger space.</span></p>
                                                            
                    <p><a class="post-edit-link" href="http://hackerspace.sg/wp-admin/post.php?post=27&amp;action=edit" title="Edit Page">Edit this entry.</a></p>
                </div>
