<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hackerspace.SG Tweets</title>
    <style>
      *,body{margin:0px;padding:0px;font-family:sans-serif;color:#007fff;text-decoration:none;}
    </style>
  </head>
  <body>
<a class="twitter-timeline" href="https://twitter.com/hackerspacesg" data-widget-id="415082410074599425">Tweets by @hackerspacesg</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </body>
</html>
