body{
  padding-top:50px;
	&.sub-page{
		.jumbotron{
			display: none;
		}
	}
}

.navbar-brand{
	height: 51px;
	width: 51px;
	background-image: url('/imgs/crest.png');
	background-image: none, url('/imgs/hsg.svg'), url('/imgs/crest@2x.png');
	background-repeat: none;
	background-size: contain;
	margin-right: 10px;
	span{
		display:none;
	}
}

.navbar{
	border:0px;
}

.events-block{
  ul, li{
    list-style: none;
    margin:0px;
    padding:0px;
  }
  ul{
    padding:5px 3px;
  }
  h4{
    margin-bottom:2px;
  }
}

footer{
  margin-top: 14px;
  padding: 7px;
}

h1,
.h1 {
  font-size: 27px;
}

h2,
.h2 {
  font-size: 23px;
}

h3,
.h3 {
  font-size: 19px;
}

h4,
.h4 {
  font-size: 14px;
}

h5,
.h5 {
  font-size: 10px;
}

h6,
.h6 {
  font-size: 8px;
}

@media (min-width: 768px) {
  h1,
  .h1 {
    font-size: 39px;
  }

  h2,
  .h2 {
    font-size: 28px;
  }

  h3,
  .h3 {
    font-size: 24px;
  }

  h4,
  .h4 {
    font-size: 19px;
  }

  h5,
  .h5 {
    font-size: 15px;
  }

  h6,
  .h6 {
    font-size: 13px;
  }
}
