body{
	&.sub-page{
		.jumbotron{
			display: none;
		}
	}
}

.navbar-brand{
	height: 51px;
	width: 51px;
	background: top left no-repeat url('/imgs/hsg.svg');
	background-size: 100% 100%;
	margin-right: 10px;
	span{
		display:none;
	}
}

.navbar{
	border:0px;
}